body {
  font-family: arial, sans-serif;
  display: block;
  margin: 0;
  padding: 0;
}

header {
  box-sizing: border-box;
  width: 100%;
}

#left-navbar {
  float: left;
}

#right-navbar {
  float: right;
}

ul {
  list-style: none;
}

ul#left-navbar li {
  display: inline;
}

ul#right-navbar li {
  display: inline;
}

.navbar-list-style {
  font-size: 13px;
  padding-right: 20px;
}

#google-main {
  text-align: center;
  margin: auto;
}

#search-bar {
  display: flex;
  margin: 25px auto 25px auto;
  width: 560px;
  height: 40px;
  border: 1px solid #dfe1e5;
  border-radius: 20px;
  align-items: center;
}

#logo {
  height: 92px;
  width; auto;
  padding-top: 200px;
}

#search-icon {
  height: 20px;
  width: auto;
  flex: 1;
  opacity: 0.5;
}

#speech-icon {
  height: 20px;
  width: auto;
  flex: 1;
}

#search-query {
  display: inline;
  margin: 0 auto;
  flex: 10;
  height: 34px;
  border: none;
  font-size: 16px;
}

#search-query:focus {
  outline: none;
}

input[type=submit] {
  display: inline;
  font-size: 14px;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 0 16px 0 16px;
  border-style: solid;
  border: 1px #f2f2f2;
  color: #5F6368;
  height: 34px;
  margin: 0 2.5px 0 2.5px;
}

.hyperlink {
  color: #1a0dab;
  font-size: 13px;
  margin-top: 25px;
}

footer {
  position: absolute;
  display: inline-block;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  line-height: 16px;
  color: #5f6368;
}

#left-footer {
  float: left;
}

#right-footer {
  float: right;
}

.footer-list-style {
  font-size: 14px;
  padding-right: 20px;
}

ul#left-footer li {
  display: inline;
}

ul#right-footer li {
  display: inline;
}
