body {
  font-family: arial, sans-serif;
  display: block;
  margin: 0;
  padding: 0;
  min-width: 980px;
}

header {
  box-sizing: border-box;
  width: 100%;
}

#left-navbar {
  display: flex;
  float: left;
  padding-top: 15px;
  line-height: 24px;
}

#right-navbar {
  display: flex;
  float: right;
  line-height: 24px;
}

#right-navbar-links {
  padding-top: 15px;
}

#left-navbar a {
  padding-left: 20px;
}

#right-navbar-links a {
  padding-right: 20px;
}

ul {
  list-style: none;
}

#right-navbar-icons {
  display: inline;
  padding-top: 15px;
}

#apps-icon, #user-icon {
  height: 24px;
  width: auto;
  padding-right: 20px;
}

#google-main {
  display: block;
  text-align: center;
  margin: auto;
}

#search-bar {
  position: relative;
  background-color: white;
  display: flex;
  margin: 30px auto;
  width: 560px;
  height: 40px;
  border: 1px solid #dfe1e5;
  border-radius: 20px;
  align-items: center;
  z-index: 1;
}

#search-bar:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#google-logo {
  text-align: center;
  padding-top: 200px;
}

#logo {
  height: 92px;
  width: auto;
}

#search-icon {
  height: 20px;
  width: auto;
  flex: 1;
  opacity: 0.5;
}

#speech-icon {
  height: 20px;
  width: auto;
  flex: 1;
}

#search-query {
  display: inline;
  margin: 0 auto;
  flex: 10;
  height: 34px;
  border: none;
  font-size: 16px;
}

#search-query:focus {
  outline: none;
}

input[type=submit] {
  position: relative;
  display: inline;
  font-size: 14px;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 0 16px 0 16px;
  border: 1px solid #f2f2f2;
  color: #5F6368;
  height: 34px;
  margin: 0 2.5px 30px 2.5px;
  z-index: 1;
}

input[type=submit]:hover {
  color: black;
  box-shadow: 0px 1px 1px rgb(0,0,0,0.1);
  border: 1px solid #e4e4e4;
}

a {
  font-size: 13px;
}

a:link {
  color: #1a0dab;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  display: inline-block;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  line-height: 16px;
  color: #5f6368;
  min-width: 980px;
}

#left-footer {
  float: left;
}

#right-footer {
  float: right;
}

.footer-list-style {
  font-size: 14px;
  padding-right: 20px;
}

ul#left-footer li {
  display: inline;
}

ul#right-footer li {
  display: inline;
}

a.navbar-link:link, a.navbar-link:visited {
  color: black;
}

a.footer-link:link, a.footer-link:visited {
  color:#5f6368;
  font-size: 14px;
}
